@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

@model GradeCalcModel;

<!-- Grade Calculator form as taken from syllabus -->
<form method="post">
    <fieldset>
        <legend style="font-weight:bolder"> Grade Calculator </legend>
        <label>Assignments: </label>
        <input id="pctAssignment" asp-for="Assignment"/><br />
        <label>Group Project: </label>
        <input id="pctGroup" asp-for="Group"/><br />
        <label>Quizzes: </label>
        <input id="pctQuiz" asp-for="Quiz"/><br />
        <label>Midterm Exam: </label>
        <input id="pctMidterm" asp-for="Midterm"/><br />
        <label>Final Exam: </label>
        <input id="pctFinal" asp-for="Final"/><br />
        <label>Intex: </label>
        <input id="pctIntex" asp-for="Intex"/>
        <br />
        <input id="btnSend" type="submit" value="Calculate Grade" />

        <div asp-validation-summary="All"></div>
    </fieldset>
</form>

<!-- After button is pressed, the final percent and grade letter is printed here. -->
<p id="pct&Grade"></p>


<br />
<br />
<br />
<!-- Necessary Script tags for bootstrap, jquery, and Grade Calculator javascript page -->
<script src="js/GradeCalculator.js"></script>