<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Anna Dalley  Section 1 - Group 4 -->
    <meta charset="utf-8" />

    <!-- Webpage Title -->
    <title>@ViewData["Title"]</title>

    <!-- Necessary links: Bootstrap, CSS Stylesheet, Icon -->
    <link href="boostrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/default.css" rel="stylesheet" />
    <link rel="icon" href="../img/icons8-home-16.png" />
</head>

<body>

    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="GradeCalc">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>This is the footer</footer>

    <script src="boostrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.3.min.js"></script>

</body>
</html>
